{% extends "base.html.twig" %}
{% block title %}Les personnages de l'histoire - Accueil

{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
			<h2>Les personnages de l'histoire</h2>
			<p>
				<strong>Les personnages de l'histoire</strong>
				est un site qui se veut une ressource pour ceux qui s'intérressent à l'histoire. 
																								Sur ce site vous pourrez voir différent personnages de l'histoire,
																								ainsi que les personnes qui on vécu à leur époque. 
																								Ces personnage sont égalements associé aux batailles de leurs temps.

			</p>

			<hr class="my-4"/>

			<p>
				Vous aurez également la possibilité d'insérer vous même un personnage afin d'alimenter la base de donnée.
																				Il faudra alors vous créer un accés sur le site. 
																				Je vérifierais les entrées pour valider si ce personnage peut faire partie de la base.
			</p>
			<button type="button" class="btn btn-primary">
				S'inscrire
			</button>
		</div>
	</div>

{% endblock %}
