{% extends 'base.html.twig' %}

{% block title %}Modifier personnage
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-5 mb-5">Modifier
			{{character.name}}</h1>

		{{ include('character/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_character_index') }}" class="btn btn-primary mt-5 mb-5">Retour à la liste des personnages</a>


		{{ include('character/_delete_form.html.twig') }}


	</div>

{% endblock %}
