<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/sandstone/bootstrap.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/sandstone/bootstrap.min.css">
			<script src="https://kit.fontawesome.com/2852222639.js" crossorigin="anonymous"></script>

		{% endblock %}
	</head>

	<body>
		{% include "/support/_header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "/support/_footer.html.twig" %}
	</body>


</html>
